body {
  font-family: Arial, sans-serif;
  background-color: #f3f4f6;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.container {
  width: 90%;
  max-width: 800px;
  background: white;
  margin-top: 40px;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #2c3e50;
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

form input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  background-color: #8f54c6;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

form button:hover {
  background-color: #800cbd;
}

#busca {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #d4d4d4;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #800cbd;
  color: white;
}

th,
td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

button.editar {
  background-color: #c1a1f6;
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
}

button.remover {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
}

button.editar:hover {
  background-color: #ac99e5;
}

button.remover:hover {
  background-color: #c0392b;
}
